<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:fragment="HeaderFragment">
<!-- Header Section Begin -->
<div class="header">
    <div class="container_header">
        <div class="row">
            <div class="col-lg-2">
                <div class="header__logo">
                    <a th:href="@{main(order=${param.order} ?: 'DESC', category=0)}">
                        <img src="/static/img/logo.png" alt="">
                    </a>
                </div>
            </div>

            <div class="col-lg-8">
                <div class="header__nav">
                    <nav class="header__menu mobile-menu">
                        <ul>
                            <!-- 홈버튼 -->
                            <li th:classappend="${#strings.toString(param.category)} == 0 ? 'active'"><a th:href="@{main(order=${param.order} ?: 'DESC', category=0)}"><img src="/static/img/main/home.png" style="width: 15px; height: 15px; margin-bottom: 5px; margin-right: 5px"></i>홈</a></li>

                            <!-- 군단장 레이드 -->
                            <li th:classappend="${#strings.toString(param.category)} == '1' ? 'active'"><a th:href="@{main(order = ${param.order}, category = 1)}"><img src="/static/img/main/categories.png" style="width: 15px; height: 15px; margin-bottom: 5px; margin-right: 5px">군단장 레이드 <img src="/static/img/main/down.png" style="width:10px; height: 10px;"></a>
                                <ul class="dropdown">
                                    <th:block th:each="product : ${headerList}">
                                        <li th:if="${product.category} == 1"><a th:href="@{details(order = ${param.order}, gateway = ${product.gateway}, idx = ${product.idx}, category = ${product.category})}" th:text="${product.title}"></a></li>
                                    </th:block>
                                </ul>
                            </li>

                            <!-- 어비스 던전 -->
                            <li th:classappend="${#strings.toString(param.category)} == '2' ? 'active'"><a th:href="@{main(order = ${param.order}, category = 2)}"><img src="/static/img/main/categories.png" style="width: 15px; height: 15px; margin-bottom: 5px; margin-right: 5px">어비스 던전 <img src="/static/img/main/down.png" style="width:10px; height: 10px;"></a>
                                <ul class="dropdown">
                                    <th:block th:each="product : ${headerList}">
                                        <li th:if="${product.category} == 2"><a th:href="@{details(order = ${param.order}, gateway = ${product.gateway}, idx = ${product.idx}, category = ${product.category})}" th:text="${product.title}"></a></li>
                                    </th:block>
                                </ul>
                            </li>

                            <!-- 카제로스 레이드 -->
                            <li th:classappend="${#strings.toString(param.category)} == '3' ? 'active'"><a th:href="@{main(order = ${param.order}, category = 3)}"><img src="/static/img/main/categories.png" style="width: 15px; height: 15px; margin-bottom: 5px; margin-right: 5px">카제로스 레이드 <img src="/static/img/main/down.png" style="width:10px; height: 10px;"></a>
                                <ul class="dropdown">
                                    <th:block th:each="product : ${headerList}">
                                        <li th:if="${product.category} == 3"><a th:href="@{details(order = ${param.order}, gateway = ${product.gateway}, idx = ${product.idx}, category = ${product.category})}" th:text="${product.title}"></a></li>
                                    </th:block>
                                </ul>
                            </li>

                            <!-- 에픽 레이드 -->
                            <li th:classappend="${#strings.toString(param.category)} == '4' ? 'active'"><a th:href="@{main(order = ${param.order}, category = 4)}"><img src="/static/img/main/categories.png" style="width: 15px; height: 15px; margin-bottom: 5px; margin-right: 5px">에픽 레이드 <img src="/static/img/main/down.png" style="width:10px; height: 10px;"></a>
                                <ul class="dropdown">
                                    <th:block th:each="product : ${headerList}">
                                        <li th:if="${product.category} == 4"><a th:href="@{details(order = ${param.order}, gateway = ${product.gateway}, idx = ${product.idx}, category = ${product.category})}" th:text="${product.title}"></a></li>
                                    </th:block>
                                </ul>
                            </li>

                            <!-- 로스트아크 도구모음 -->
                            <li th:classappend="${#strings.toString(param.category)} == '5' ? 'active'"><a><img src="/static/img/main/tools.png" style="width: 15px; height: 15px; margin-bottom: 5px; margin-right: 5px">로아 도구 <img src="/static/img/main/down.png" style="width:10px; height: 10px;"></a>
                                <ul class="dropdown">
                                    <li><a href="/calculator?category=5">경매 계산기</a></li>
                                </ul>
                            </li>

                        </ul>
                    </nav>
                </div>
            </div>
            <div style="display: flex; justify-content: center; align-items: center;">
                <span style="color: white; font-weight: bold; font-size: medium;">Made By.취딧</span>
            </div>
        </div>
        <div id="mobile-menu-wrap"></div>
    </div>

</div>
<!-- Header End -->
</html>