<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="google-site-verification" content="mY2LVG-PpTAfpfluGh3Un0v7CiJG1wLgveog6iO6ke0" />
    <meta name="description" content="Anime Template">
    <meta name="keywords" content="Anime, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <title>LostArk CheatSheet</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900&display=swap"
    rel="stylesheet">
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">

    <!-- Css Styles -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/static/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/static/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="/static/css/plyr.css" type="text/css">
    <link rel="stylesheet" href="/static/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="/static/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/static/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/static/css/style.css" type="text/css">

    <script src="/static/js/includeHTML.js"></script>
</head>
<body>
    <!-- Page Preloder -->
<!--    <div id="preloder">-->
<!--        <div class="loader"></div>-->
<!--    </div>-->

    <header th:replace="header.html :: HeaderFragment"></header>


    <!-- Product Section Begin -->
    <section class="product spad">
        <div class="container">

            <div style="margin-bottom: 40px;">
                <a th:href="@{main(order = DESC, category = ${param.category})}" th:classappend="${#strings.toString(param.order)} == 'DESC' ? 'active'" class="btn btn-dark" >최신순</a>
                <a th:href="@{main(order = ASC, category = ${param.category})}" th:classappend="${#strings.toString(param.order)} == 'ASC' ? 'active'" class="btn btn-dark">기본순</a>
                <a th:href="@{main(order = VIEW, category = ${param.category})}" th:classappend="${#strings.toString(param.order)} == 'VIEW' ? 'active'" class="btn btn-dark">조회순</a>
            </div>

            <!-- Search model Begin -->
            <!--<div class="search-model">
                <div class="h-100 d-flex align-items-center justify-content-center">
                    <div class="search-close-switch"><i class="icon_close"></i></div>
                    <form class="search-model-form">
                    </form>
                </div>
            </div>-->
            <!-- Search model end -->

            <div class="row">
                <div class="col-lg-8" style="flex:0 0 100%; max-width: 100%;">
                    <div class="trending__product">
                        <div class="row">
                            <div class="col-lg-8 col-md-8 col-sm-8">
                                <div class="section-title" th:switch="${#strings.toString(param.category)}" th:value="${#strings.toString(param.category)}">
                                    <h4 th:case="'0'">컨닝페이퍼 전체보기</h4>
                                    <h4 th:case="'1'">군단장 레이드 컨닝페이퍼</h4>
                                    <h4 th:case="'2'">어비스 던전 컨닝페이퍼</h4>
                                    <h4 th:case="'3'">카제로스 레이드 컨닝페이퍼</h4>
                                    <h4 th:case="'4'">에픽 레이드 컨닝페이퍼</h4>
                                    <h4 th:case="*">컨닝페이퍼 전체보기</h4>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <th:block th:each="product : ${list}">
                                <div class="col-lg-3 col-md-6 col-sm-6">
                                    <div class="product__item">
                                        <a th:href="@{details(order = ${param.order}, gateway = ${product.gateway}, idx = ${product.idx}, category = ${product.category})}">
                                            <div class="product__item__pic set-bg" th:data-setbg="${product.img}"></div>
                                        </a>
                                        <div class="product__item__text">
                                            <ul>
                                                <li th:each="tag : ${#strings.arraySplit(product.tag,',')}" th:text="${tag}"></li>
                                            </ul>
                                            <h5><a th:href="@{details(order = ${param.order}, gateway = ${product.gateway}, idx = ${product.idx}, category = ${product.category})}" th:text="${product.title}"></a><div id="main-view-div" style="display:inline; color:white; float:right;"><span th:text="${product.view}" id="main-view"></span><img src="/static/img/main/eyes.png" style="width: 25px; height: 25px; margin-left: 5px; margin-right: 5px; margin-bottom: 3px"></div></h5>
                                        </div>
                                    </div>
                                </div>
                            </th:block>

                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>

</div>
</div>
</div>
</div>
</section>
<!-- Product Section End -->

<header th:replace="footer.html :: FooterFragment"></header>

<!-- Js Plugins -->
<script src="/static/js/includeHTML.js"></script>
<script>includeHTML()</script>
<script src="/static/js/jquery-3.3.1.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/player.js"></script>
<script src="/static/js/jquery.nice-select.min.js"></script>
<script src="/static/js/mixitup.min.js"></script>
<script src="/static/js/jquery.slicknav.js"></script>
<script src="/static/js/owl.carousel.min.js"></script>
<script src="/static/js/main.js"></script>

</body>

</html>