<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ark.cheatsheet.mapper.MainMapper">

    <select id="getMainList" parameterType="int" resultType="com.ark.cheatsheet.vo.main.MainVO">
        select * from cheatsheet.main
            WHERE gubun = #{gubun}
            <if test='category != 0'>
                AND category = #{category}
            </if>
        order by seq;
    </select>

    <select id="getDetailsContent" resultType="com.ark.cheatsheet.vo.main.CheatSheetVO">
        select * from cheatsheet.cheatsheet where main_no = #{idx} and gate = #{gate} and delete_it = 0;
    </select>

</mapper>