<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ark.cheatsheet.mapper.MainMapper">

    <select id="getMainList" parameterType="String" resultType="com.ark.cheatsheet.vo.main.MainVO">
        select * from cheatsheet.main
            <if test="category != 0">
                WHERE category = #{category}
            </if>
            <choose>
                <when test="order.equals('VIEW')">
                    order by view desc;
                </when>
                <when test="order.equals('ASC')">
                    order by seq asc;
                </when>
                <otherwise>
                    order by seq desc;
                </otherwise>
            </choose>
    </select>

    <select id="getHeaderList" parameterType="String" resultType="com.ark.cheatsheet.vo.main.MainVO">
        select * from cheatsheet.main
    </select>



    <select id="getDetailsContent" resultType="com.ark.cheatsheet.vo.main.CheatSheetVO">
        select * from cheatsheet.cheatsheet where main_no = #{idx} and gate = #{gate} and delete_it = 0;
    </select>



    <select id="getDetailsComment" resultType="hashmap" parameterType="String">
        select * from cheatsheet.cheatsheet where main_no = #{idx} and delete_it = 0;
    </select>

</mapper>